<div class="register">
  <div class="container">
    <%= render 'shared/title', title: "Reset Password Confirmation" %>
    <div class="well">  
      <p>A reset password link has been sent to your registered email address. If you do not receive an email within 30 minutes, please click <%= link_to "here.", forgot_password_path %></p>
    </div>
  </div>
</div>