<div class="container">
  <%= render "shared/title", title: "Latest co-working spaces" %>

  <% @spaces.each do |space| %>
    <%= render "space", space: space %>
  <% end %>
  <%= will_paginate @spaces %>
</div>