<div class="register">
  <div class="container">
    <%= render 'shared/title', title: "Register here" %>
    <%= render 'form' %>
    <div class="testimonials">
      <div class="well">
        <p>Book your coworking spots in advance</p>
        <p>Read reviews by fellow coworking space users</p>
        <p>Vote for your favourite spaces</p>
    </div>
  </div>
  </div>
</div>
  