<% if !logged_in? %>
  <img src="/public/tmp/coworking.jpg">
  <div class="front">
  <h1 class="text-center">Find the best co-working spaces around the world.</h1>
  <p class="text-center"><%= link_to "Sign up now", new_user_path, class: "btn btn-success" %></p>
  <p class="text-center">Already a user?<%= link_to "Log In", login_path, class: "btn btn-default" %></p>
</div>
<% end %>