<div class="background-image">
  <div class="front">
    <h1 class="text-center header">Find the best coworking spaces around the world</h1>
    <p class="text-center"><%= link_to "Sign up now", new_user_path, class: "btn btn-success btn-large" %></p>
    <p class="text-center white">Already a user? <%= link_to "Log in here", login_path %></p>
  </div>
</div>
