<div class="container">
  <% all_spaces = link_to("Worldwide", spaces_path) %>
  <%= render 'shared/title', title: "#{all_spaces} &raquo; Coworking spaces in #{@category.name}".html_safe %>

  <% Space.where(@category.name = "Singapore") do |space| %>
    <%= render 'spaces/space', space: space %>
  <% end %>
  
</div>